
.MuiFormControl-root {
    margin-bottom: 16px; /* Ajoute un espacement entre les champs */
}

.MuiInputLabel-root {
    transform: translate(0, -1.5rem); /* Ajuste le label pour éviter le chevauchement */
}

select {
    padding: 16px 14px;
}
